/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 20px;
}

header {
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fiex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px 6px;
}

nav ul li a {
    text-decoration: none;
    color: #ff7948;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 6px;
    background-color: #468cee;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #bdbdbd;
}

h1 {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
}

.highlight {
    color: #00a6ff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
}

main {
    padding: 120px 20px 20px; /* Adjust for fixed header */
}

section h2 {
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 0.8em;
    width: 100%;
    bottom: 0;
}

.footer-text {
    margin: 5px 0;
}

/* Media queries for mobile optimization */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    header {
        padding: 10px 10px;
    }
    h1 {
        font-size: 1.2em;
    }
    .highlight {
        font-size: 1em;
    }
    section h2 {
        font-size: 1.5em;
    }
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    nav ul li {
        margin: 5px 0;
        text-align: left;
        padding-left: 20px;
    }
    nav ul.menu-active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}
