body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFF8E1;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 20px;
}

header {
    background-color: #FFD54F;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #E64A19;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #d84315;
}

h1 {
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 80px; /* Adjust for fixed header */
}

.highlight {
    color: #E64A19;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
}

main {
    padding: 100px 20px 20px; /* Adjust for fixed header */
}

section h2 {
    color: #555;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 2px;
    font-size: 0.6em;
    width: 100%;
    bottom: 0;
}

.footer-text {
    margin: 5px 0;
}

/* Media queries for mobile optimization */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 2em;
    }
    .highlight {
        font-size: 1.2em;
    }
    section h2 {
        font-size: 1.5em;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 5px 0;
    }
}

