.header {
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: flex;
    width: flex;
    top: 0;
    left: 0;
    z-index: 1000;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    max-width: 60px;
}

.product h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product img {
    width: flex;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product p {
    font-size: 1em;
    margin-bottom: 10px;
}

.product a {
    text-decoration: none;
    color: #0288d1;
    font-weight: bold;
}
